<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Memo List</title>
  <style>
    .memo {
      border: 1px solid #333;
      padding: 24px;
      margin-bottom: 16px;
      border-radius: 24px;
    }
  </style>
</head>

<body>
<h1>Memo List</h1>
<section>
  <% if @memos.any? %>
    <% @memos.each do |memo| %>
      <div class="memo">
        <p>ID: <%= memo.id %></p>
        <p>Name: <%= memo.name %></p>
        <p>Content: <%= memo.content %></p>
        <p><a href="/memos/<%= memo.id %>">Show details</a></p>
      </div>
    <% end %>
  <% else %>
    <p>There is no memo.</p>
  <% end %>
</section>
<a href="/new">Create a New Memo</a>
</body>
</html>
