<!DOCTYPE html>
<html>
<head>
  <title>Memo List</title>
</head>

<body>
<h1>Memo List</h1>
<ul>
  <% unless memos.empty? %>
    <% memos.each do |memo| %>
      <li>ID: <%= memo[:id] %>, Name: <%= memo[:name] %>, Content: <%= memo[:content] %></li>
    <% end %>
  <% else %>
    <li>There is no memo.</li>
  <% end %>
</ul>
<a href="/new">Create a New Memo</a>
</body>
</html>
