<!DOCTYPE html>
<html>
<head>
  <title>New Memo</title>
</head>

<body>
<h1>New Memo</h1>
<form action="/new" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required><br><br>
  <label for="content">Content:</label><br>
  <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
  <input type="submit" value="Create">
</form>
<br>
<a href="/">Back to Memo List</a>
</body>
</html>
