<!DOCTYPE html>
<html>
<head>
  <title>Memo Details</title>
</head>

<body>
<h1>Memo Details</h1>
<p>ID: <%= memo[:id] %></p>
<p>Name: <%= memo[:name] %></p>
<p>Content: <%= memo[:content] %></p>
<a href="/">Back to Memo List</a>
</body>
</html>
